repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        exclude: test/mocks
        types_or: ["c", "c++"]
